.pageBlogs
{
    display: flex;
    flex-direction: column;
    background-color: red;

    @media only screen and (min-width: variable.$tablet)
    {
        flex-direction: row;
        justify-content: space-between;
    }
}