@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@media (max-width: 412px) {
  .navigation {
    height: 3rem;
  }
  .navigation__logo {
    width: 7rem;
    height: 3rem;
  }
  .navigation__button {
    left: -99px;
  }
  .navigation__burger {
    left: 22rem;
    top: 0.5rem;
  }
}
body {
  height: 100vh;
  margin: 0;
  background-color: white;
  width: 100vw;
}
body .navigation {
  display: flex;
  flex-direction: row;
  background-color: #222222;
  height: 5rem;
  width: 100%;
}
body .navigation .navigation__ul {
  display: flex;
  align-items: center;
  list-style: none;
  color: #777;
  width: 30rem;
  font-weight: bold;
}
body .navigation .navigation__ul .navigation__ul--clicked {
  position: relative;
  color: white;
  font-weight: bold;
  z-index: 1;
}
body .navigation .navigation__ul .navigation__ul--clicked .linethrough {
  position: absolute;
  content: "";
  left: 11%;
  top: 65%;
  right: 0;
  border-top: 0.2em solid;
  border-color: inherit;
  -webkit-transform: skewY(-45deg);
  -moz-transform: skewY(-45deg);
  transform: skewY(-45deg);
  color: red;
  z-index: -1;
}
body .navigation .navigation__button {
  background-color: #222222;
  padding: 0.3rem;
  color: white;
  text-decoration: none;
  border: solid 0.1em lightgray;
  height: 1em;
  position: absolute;
  top: 0.9em;
  left: 105em;
  border-radius: 2em;
  padding-left: 1.7em;
  padding-right: 1.7em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  font-size: medium;
  font-weight: bolder;
}
body .navigation .navigation__burger {
  cursor: pointer;
  display: none;
  position: absolute;
  left: 36rem;
  top: 1.5rem;
}
body .navigation .navigation__burger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .navigation__logo {
    width: 25%;
  }
  .navigation__burger {
    display: block !important;
    left: 43.5rem;
    top: 1.5rem;
  }
  .navigation__burger .nav-open.bar--top {
    transform: translate(0, 0) rotate(45deg);
  }
  .navigation__burger .nav-open.bar--middle {
    opacity: 0;
  }
  .navigation__burger .nav-open.bar--bot {
    transform: translate(0, 0) rotate(-45deg);
  }
  .navigation__button {
    left: -20em !important;
  }
  .navigation__ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -120rem;
    font-size: x-large;
    margin-top: 0rem;
  }
  .navigation__ul li {
    font-family: "Hind";
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top: dotted 0.01px #777;
    border-bottom: dotted 0.01px #777;
    list-style: none;
    margin-left: 10rem;
    width: 50%;
    font-weight: bold;
    font-size: medium;
    text-transform: capitalize;
    font-family: "Montserrat";
  }
}
@media (min-width: 1920px) {
  .navigation__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .navigation__ul li {
    padding-top: 0.5em;
    cursor: pointer;
  }
  .navigation__button {
    display: block !important;
  }
}
.sidebar {
  position: absolute;
  left: -12rem;
  background-color: #222222;
  height: 100%;
}

.logo {
  display: none;
}

.nav-open.menu-toggle-bar--top {
  transform: translate(0, 0) rotate(45deg);
}
.nav-open.menu-toggle-bar--middle {
  opacity: 0;
}
.nav-open.menu-toggle-bar--bottom {
  transform: translate(0, 0) rotate(-45deg);
}

.hidden {
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
