@import "../Utils/variables";

.contact__h1{
    font-size: 1.5em;
    color: white;
    margin-bottom: -0.1em;
    font-family: "Montserrat", sans-serif;

    &--black {
        font-size: 1.5em;
        margin-bottom: -0.1em;
        font-family: "Montserrat", sans-serif;
        color: black;
    }
    
}

// .about__h1--play {
//     font-size: 0.6em;
//     color: white;
// }
// .about__h1--black {
//     font-size: 0.6em;
    
// }

.contact__p {
    font-size: 0.8em;
    color: $globalFontColor;
    font-family: "Hind", sans-serif;
}


.contact__infos {
    background-color: $darkBackground;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: white;
    padding-bottom: 2rem;

        .contact__infos__touch {
            display: flex;
            flex-direction: column;
            gap:2em;
            padding-left: 0.7rem;
              .contact__infos__touch__grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
	            grid-template-rows: 1fr 1fr 1fr;
                width: 50%;
              }
        }

        .contact__infos__form {
            color: black;
            display: flex;
            flex-direction: column;
            gap: 2em;
            padding-left: 1em;

            .contact__infos__form__textarea {
                display:flex;
                flex-direction: column;
                gap: 1em;

            .contact__input {
                background-color: $darkBackground;
                color: $globalFontColor;
                border-bottom: solid $globalFontColor;

                &--big{
                    background-color: $darkBackground;
                    border-bottom: solid $globalFontColor;
                }
            }

            }

            .contact__infos__btn {
                background-color: red;
                padding-top: 1em;
                padding-bottom: 1em;
                border-radius: 2em;
                font-family: "Hind", sans-serif;
                
                .contact__infos__btn--link {
                    text-decoration: none;
                    color: white;
                    font-size: 0.7em;
                    font-weight: bold;
                }
            }
        }

}

@media only screen and (min-width: $tablet) {
    .contact__infos {
        flex-direction: row;
        
        .contact__infos__touch__grid {
            gap:1em;
        }

        .contact__infos__form {
            width: 110%;
            
        }
    }
}


@media only screen and (min-width: $desktop){

    .contact__h1{
        font-size: 3em;
    }

    .contact__p {
        font-size: 1em;
       


    }
    .contact__infos {
        align-items: center;
        justify-content: center;
    
        .contact__infos__touch {
            margin-top: -5rem;
            width:20%;

        .contact__infos__touch__grid {
           gap: 0em;
            width: 50%;
        }

        }

        .contact__infos__form {
            width: 50%;
            

            .contact__infos__form__textarea {
                flex-direction: row;
                flex-wrap: wrap;

                .contact__input {
                    width: 49%;

    
                    &--big{
                        width:100%;
                        height: 20rem;
                        padding-top: 1em;
                    }
                }

            }

            .contact__infos__btn--link {
                font-size: 1.3em!important;
            }
            
        }

        
    }
}