
.footer{
    color: #717171;

    &__info{
        background-color: #222222;
        &__number{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &__redline{
            border: 2px solid $red;
            border-width: 2px;
            width: 30px;
        }
        &__h3{
            color: white;
        }
        &__sociallinks{
            &__sociallogo{
                width: 2em;
                height: 2em;
                
            }
        }
    }
    &__copyright{
        text-align: center;
        background-color: #1B1B1B;
    }
}

