.footer{
    color: variable.$globalFontColor; 
    background-color: variable.$darkBackground;
    background-image: url("../resources/images/gallery/room-7-360x222.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:overlay;


    &__info{
        display: flex;
        flex-direction: column;
        
        &__ouraddress{
            padding-bottom: 3em;
            &__p{
                padding-left: 2em;
            }
        }
        &__usefullinks{
            padding-bottom: 3em;
            &__list{
                list-style: none;
                padding-left: 2em;
            }
        }
        &__workinghours{
            padding-bottom: 3em;
            &__table{
                border-collapse: separate;
                border-spacing: 1em 1em;
                padding-left: 1em;
            }
        }
        &__sociallinks{
            padding-bottom: 3em;
            &__icons{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }

        &__number{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.5em;
            padding-top: 2em;
        }
        &__redline{
            border: 2px solid variable.$red;
            border-width: 2px;
            width: 30px;
            margin-left: 0.5em;
        }
        &__h3{
            color: variable.$whiteBackground;
            padding: 1em;
            padding-left: 1.8em;
        }
        a{
            color: variable.$whiteBackground;
            background-color: variable.$globalFontColor;
            border-radius: 100%;
            padding: 15px;
        }
        &__button{
            color: variable.$whiteBackground;
            a:link{
                color: variable.$whiteBackground;
            }
        }
    }

    &__greyline{
        border: 1px solid variable.$darkBackground;
        border-width: 2px;
        max-width: cover;
    }

    &__copyright{
        text-align: center;
        padding-top: 3em;
        padding-bottom: 1em;
    }
}


@media screen and (min-width: variable.$tablet) {
    .footer{
        &__info{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            &__sociallinks{
                &__icons{
                    display: grid;
                    grid-template-areas: 
                    "a b"
                    "c d"
                    "e f";
                }
            }
        }
    }
}


@media screen and (min-width: variable.$desktop) {
    .footer{
        &__info{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            &__sociallinks{
                &__icons{
                    display: grid;
                    grid-template-areas: 
                    "a b"
                    "c d"
                    "e f";
                }
            }
        }
    }
}