.header
{
    background-image:  url('../resources/images/gallery/slide-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    &__nav
    {
        background-color: $red;
        opacity: 0.5;
        height: 3rem;
    }
    &__body
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12.6rem;

        &__title
        {
            width: 6em;
            color: white;
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
            margin: 0;
            // padding-top: 2rem;
        }
        &__div
        {
            padding-top: 2em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &__subtitle
            {
                text-transform: uppercase;
                width: 10em;
                color: white;
                font-size: 1rem;
                font-weight: 400;
                text-align: center;
                margin: 0;
                // padding-top: 2rem;

                display: flex;
                flex-direction: row;
            } 
            &__line
            {
                display: none;
            }
        }
        
    }
    &--main
    {
        background-image:   linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),url('../resources/images/gallery/slide-4.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    @media only screen and (min-width: $tablet)
    {
        height: 29.1rem;
        &__body
        {
            height: 25rem;
            &__title
            {
                font-size: 3rem;
            }
            &__div
            {
                &__subtitle
                {
                    font-size: 0.8rem;

                }
                &__line
                {
                    display: block;
                    width: 3.5em;
                    height: 1px;
                    background-color: white;
                    margin-right: 1rem;
                }
            }
        }
    }
    @media only screen and (min-width: $desktop)
    {
        height: 70rem;
        &__body
        {
            height: 60rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 10rem;
            &__title
            {
                text-align: left;
                font-size: 10rem;
            }
            &__div
            {
                &__subtitle
                {
                    font-size: 1rem;

                }
                &__line
                {
                    display: block;
                    width: 5em;
                    height: 1px;
                    background-color: white;
                    margin-right: 1rem;
                }
            }
        }
    }
}