@import "../Utils/variables";



.navigation {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 3em;
    font-family: "Hind", sans-serif;
    background-color: rgba(22, 22, 22, 0.5);

    .fa-calendar {
        color: whitesmoke;
        position: absolute;
        right:4em;
        top:0.9em;
    }

    &__ul{
        background-color: $darkBackground;
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 100vh;
        list-style: none;
        color: whitesmoke;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 0.7em;
        width: 70%;
        margin-left: -100%;

        &__li {
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 2em;
            border-bottom: dotted 1px $navFontColor;
            height: fit-content;
            
        }

    }

    &__button{
        display: none;
    }


    &__burger {
            cursor: pointer;
            height: fit-content;    
            position: absolute;
            right: 1em;
            top: 0.5em;  
            
            
            .bar {
                 display: block;
                 width: 25px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: white;
                }
    }
}


@media (min-width: 768px) {
    .navigation {
        height: 4.5em;

        .fa-calendar {
            display:none;
        }

        &__burger {
            display:none;
        }
        &__button{
            display: inline-block;
            background-color: rgba(22, 22, 22, 0.5);
            height: fit-content;
            text-decoration: none;
            position: absolute;
            right:1em;
            top: 1.3em;
            padding: 0.5em 1.5em 0.5em 1.5em;
            border-radius: 1.5em;
            border: dotted 1px $navFontColor;
            color: white;
            font-size: 0.8em;
        }

        &__ul{
            margin-left: 0%;
            background-color: rgba(0, 22, 22, 0);
            flex-direction: row;
            position: absolute;
            left: 18em;
            top: 1.5em;
            height: 4vh;
            
            &__li {
                border: none;
                text-transform: lowercase;
            }
            
        }


    }
}

@media (min-width: 1920px) {
    .navigation {
        height: 9em;

        &__ul {
            left: 34em;
            top: 2.5em;
            &__li {
                font-size: 2.3em;
            }
        }

        &__button {
            font-size: 1.7em;
        }
    }
}


///Toggle sidebar

.sidebar {
    margin-left: 0%;
}

.nav-open  {
            &.menu-toggle-bar--top {
              transform: translate(0, 0) rotate(45deg);
            }
            &.menu-toggle-bar--middle {
              opacity: 0;
            }
            &.menu-toggle-bar--bottom {
              transform: translate(0, 0) rotate(-45deg);
            }
}

// @media (max-width: 412px){

//     .navigation{
//         height:3rem;
//     }
//     .navigation__logo {
//         width: 7rem;
//         height: 3rem;
//     }

//     .navigation__button {
//         left: -99px;
//     }

//     .navigation__burger {
//         left: 22rem;
//         top: 0.5rem;
//     }

    
// }




    
    

//     .navigation {
//         display: flex;
//         flex-direction: row;
//         background-color: $darkBackground;
//         height: 5rem;
//         width: 100%;

    

//         .navigation__ul {
//             display: flex;
//             align-items: center;
//             list-style: none;
//             color: $navFontColor;
//             width: 30rem;
//             font-weight: bold;
//             margin-left: 2rem;
//             gap: 1rem;

            

//             .navigation__ul--clicked {
                
//                 position: relative;
//                 color: white;
//                 font-weight: bold;
//                 z-index: 1;
                
//                 .linethrough {
//                     position: absolute;
//                         content: '';
//                         left: 11%;
//                         top: 65%;
//                         right: 0;
//                         border-top: 0.2em solid;
//                         border-color: inherit;
//                         -webkit-transform: skewY(-45deg);
//                         -moz-transform: skewY(-45deg);
//                         transform: skewY(-45deg);
//                         color: red;
//                         z-index: -1;

//                 }

//             }



//         }

//         .navigation__button {
            
//             background-color: $darkBackground;
//             padding: 0.3rem;
//             color: white;
//             text-decoration: none;
//             border: solid 0.1em lightgray;
//             height: 1.0em;
//             position: absolute;
//             top: 0.9em;
//             left: 105em;
//             border-radius: 2em;
//             padding-left: 1.7em;
//             padding-right: 1.7em;
//             padding-top: 0.9em;
//             padding-bottom: 0.9em;
//             font-size: medium;
//             font-weight: bolder;
//         }

//         .navigation__burger {
//             cursor: pointer;
//             display: none;
//             position: absolute;
//             left: 36rem;
//             top: 1.5rem;


//             .bar {
//                 display: block;
//                 width: 25px;
//                 height: 3px;
//                 margin: 5px auto;
//                 -webkit-transition: all 0.3s ease-in-out;
//                 transition: all 0.3s ease-in-out;
//                 background-color: white;
//             }
        
        
//         }



        


//     }
   







// @media  (max-width: 768px) {
   
//    .navigation__logo {
//     width: 25%;
//    }
   
//     .navigation__burger {
//         display: block !important;
//     left: 43.5rem;
//     top: 1.5rem;

//         .nav-open  {
//             &.bar--top {
//               transform: translate(0, 0) rotate(45deg);
//             }
//             &.bar--middle {
//               opacity: 0;
//             }
//             &.bar--bot {
//               transform: translate(0, 0) rotate(-45deg);
//             }
//           }
        
        
//     }

//     .navigation__button {
//         left: -20em!important;
//     }

//     .navigation__ul {
//         display: flex;
//         flex-direction: column;
//         position: absolute;
//         left: -120rem;
//         font-size: x-large;
//         margin-top: 0rem;

//         li {
//             font-family: $paragraphs-font;
//             padding-left: 1.5rem;
//             padding-bottom: 1rem;
//             padding-top: 1rem;
//             border-top: dotted 0.01px $navFontColor;
//             border-bottom: dotted 0.01px $navFontColor;
//             list-style: none;
//             margin-left: 10rem;
//             width: 50%;
//             font-weight: bold;
//             font-size: medium;
//             text-transform: capitalize;
//             font-family: $headings-font;
//         }
//     }

//    }

//   @media (min-width: 1920px) {
    
//     .navigation__ul {
//         display:flex;
//         flex-direction: row;
//         flex-wrap: nowrap;
//         gap: 1rem;
        
        

//         li {
//             padding-top: 0.5em;
//             cursor: pointer;
//         }
        

//     }

//     .navigation__button {
//         display: block!important;
//     }
    
// }



// ////Sidebar action when toggling

    
    
//     .sidebar {
//        position: absolute;
//        left: -12rem;
//        background-color: $darkBackground;
//        height: 100%;

    
//     }
    
//     .logo {
//         display:none;
//     }


//     .nav-open  {
//         &.menu-toggle-bar--top {
//           transform: translate(0, 0) rotate(45deg);
//         }
//         &.menu-toggle-bar--middle {
//           opacity: 0;
//         }
//         &.menu-toggle-bar--bottom {
//           transform: translate(0, 0) rotate(-45deg);
//         }
//       }

//       .hidden {
//         visibility: hidden;
//       }
