/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
}

.button {
  background-color: #F60B0E;
  color: white;
  padding: 10px 20px;
  margin-top: 2em;
  border-radius: 100px;
  width: 10em;
  height: 3em;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: black;
}

.footer {
  color: #717171;
  background-color: #222222;
  background-image: url("../resources/images/gallery/room-7-360x222.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.footer__info {
  display: flex;
  flex-direction: column;
}
.footer__info__ouraddress {
  padding-bottom: 3em;
}
.footer__info__ouraddress__p {
  padding-left: 2em;
}
.footer__info__usefullinks {
  padding-bottom: 3em;
}
.footer__info__usefullinks__list {
  list-style: none;
  padding-left: 2em;
}
.footer__info__workinghours {
  padding-bottom: 3em;
}
.footer__info__workinghours__table {
  border-collapse: separate;
  border-spacing: 1em 1em;
  padding-left: 1em;
}
.footer__info__sociallinks {
  padding-bottom: 3em;
}
.footer__info__sociallinks__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer__info__sociallinks__icons a {
  color: #fefefe;
  background-color: #717171;
  border-radius: 100%;
  padding: 0.7em;
}
.footer__info__number {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  padding-top: 2em;
}
.footer__info__redline {
  border: 2px solid #F60B0E;
  border-width: 2px;
  width: 30px;
  margin-left: 0.5em;
}
.footer__info__h3 {
  color: #fefefe;
  padding: 1em;
  padding-left: 1.8em;
}
.footer__info__button {
  color: #fefefe;
}
.footer__greyline {
  border: 1px solid #222222;
  border-width: 2px;
  max-width: cover;
}
.footer__copyright {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2em;
}

@media only screen and (min-width: 768px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer__info__sociallinks__icons {
    display: grid;
    grid-template-areas: "a b" "c d" "e f";
  }
  .footer__info__sociallinks__icons a {
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 1920px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer__info__sociallinks__icons {
    display: grid;
    grid-template-areas: "a b" "c d" "e f";
  }
  .footer__info__sociallinks__icons a {
    margin-bottom: 1em;
  }
}
.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3em;
  font-family: "Hind", sans-serif;
  background-color: rgba(22, 22, 22, 0.5);
}
.navigation .fa-calendar {
  color: whitesmoke;
  position: absolute;
  right: 4em;
  top: 0.9em;
}
.navigation__ul {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  list-style: none;
  color: whitesmoke;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.7em;
  width: 70%;
  margin-left: -100%;
}
.navigation__ul__li {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  border-bottom: dotted 1px #777;
  height: fit-content;
}
.navigation__ul__li a {
  text-decoration: none;
  color: #777;
}
.navigation__button {
  display: none;
}
.navigation__burger {
  cursor: pointer;
  height: fit-content;
  position: absolute;
  right: 1em;
  top: 0.5em;
}
.navigation__burger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (min-width: 769px) {
  .navigation {
    height: 4.5em;
  }
  .navigation .fa-calendar {
    display: none;
  }
  .navigation__burger {
    display: none;
  }
  .navigation__button {
    display: inline-block;
    background-color: rgba(22, 22, 22, 0.5);
    height: fit-content;
    text-decoration: none;
    position: absolute;
    right: 1em;
    top: 1.3em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 1.5em;
    border: dotted 1px #777;
    color: white;
    font-size: 0.8em;
  }
  .navigation__ul {
    margin-left: 0%;
    background-color: rgba(0, 22, 22, 0);
    flex-direction: row;
    position: absolute;
    left: 18em;
    top: 1.5em;
    height: 4vh;
  }
  .navigation__ul__li {
    border: none;
    text-transform: lowercase;
  }
}
@media (min-width: 1920px) {
  .navigation {
    height: 9em;
  }
  .navigation__ul {
    left: 34em;
    top: 2.5em;
  }
  .navigation__ul__li {
    font-size: 2.3em;
  }
  .navigation__button {
    font-size: 1.7em;
  }
}
.sidebar {
  margin-left: 0%;
}

.nav-open.menu-toggle-bar--top {
  transform: translate(0, 0) rotate(45deg);
}
.nav-open.menu-toggle-bar--middle {
  opacity: 0;
}
.nav-open.menu-toggle-bar--bottom {
  transform: translate(0, 0) rotate(-45deg);
}

.about__h1 {
  font-size: 1em;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.about__h1--play {
  font-size: 1em;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.about__h1--black {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.about__p {
  font-size: 0.8em;
  color: #717171;
  text-align: center;
  font-family: "Hind", sans-serif;
}

.about__divider {
  background-color: #717171;
  width: 1rem;
  height: 0.1em;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.about__play {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B1B1B;
  color: white;
  overflow: hidden;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
.about__play .about__play--p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  gap: 0.5em;
}
.about__play .about__play--p .fa-superpowers {
  color: white;
  height: 1em;
  width: 1em;
}

.about__certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1B1B1B;
  color: white;
  overflow: hidden;
  gap: 1rem;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}
.about__certificates .about__certificates-img {
  width: 40%;
}

.about__team {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B1B1B;
  color: white;
  overflow: hidden;
  padding-bottom: 2rem;
  padding-top: 0.5em;
}
.about__team .about__team_member {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B1B1B;
  color: white;
  overflow: hidden;
  margin-top: 2rem;
}
.about__team .about__team_member .about__photo {
  width: 60%;
}

.about__testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B1B1B;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
}
.about__testimonials .testimonials__read {
  font-size: 0.1em;
  color: red;
  text-decoration: underline;
}
.about__testimonials .testimonials__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2em;
}
.about__testimonials .testimonials__card .testimonials__portrait {
  width: 70%;
}
.about__testimonials .testimonials__card .testimonials__ID {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #717171;
  font-size: 0.2em;
  gap: 3em;
  font-weight: bold;
}

.about__FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.about__FAQ .about__FAQ__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  gap: 1rem;
}
.about__FAQ .about__FAQ__container .about__FAQ-question {
  font-size: 0.6em;
  font-weight: bolder;
}

@media (min-width: 412px) {
  .about__certificates__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .about__p {
    margin-left: 1em;
    margin-right: 1em;
  }
  .about__play__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .about__play__container .about__play--p {
    width: 30%;
  }
  .about__certificates__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 35%;
  }
  .about__team__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
  }
  .about__testimonials__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
}
@media (min-width: 1920px) {
  .about__h1 {
    font-size: 2em;
  }
  .about__h1--black {
    font-size: 2em;
  }
  .about__p {
    font-size: 2em;
  }
  .about__FAQ-question {
    font-size: 1.5em !important;
  }
  .about__h1--play {
    font-size: 2em;
  }
  .about__play__container {
    width: 100%;
  }
}
.contact__h1 {
  font-size: 1.5em;
  color: white;
  margin-bottom: -0.1em;
  font-family: "Montserrat", sans-serif;
}
.contact__h1--black {
  font-size: 1.5em;
  margin-bottom: -0.1em;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.contact__p {
  font-size: 0.8em;
  color: #717171;
  font-family: "Hind", sans-serif;
}

.contact__infos {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: white;
  padding-bottom: 2rem;
}
.contact__infos .contact__infos__touch {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-left: 0.7rem;
}
.contact__infos .contact__infos__touch .contact__infos__touch__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 50%;
}
.contact__infos .contact__infos__form {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-left: 1em;
}
.contact__infos .contact__infos__form .contact__infos__form__textarea {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.contact__infos .contact__infos__form .contact__infos__form__textarea .contact__input {
  background-color: #222222;
  color: #717171;
  border-bottom: solid #717171;
}
.contact__infos .contact__infos__form .contact__infos__form__textarea .contact__input--big {
  background-color: #222222;
  border-bottom: solid #717171;
}
.contact__infos .contact__infos__form .contact__infos__btn {
  background-color: red;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 2em;
  font-family: "Hind", sans-serif;
}
.contact__infos .contact__infos__form .contact__infos__btn .contact__infos__btn--link {
  text-decoration: none;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .contact__infos {
    flex-direction: row;
  }
  .contact__infos .contact__infos__touch__grid {
    gap: 1em;
  }
  .contact__infos .contact__infos__form {
    width: 110%;
  }
}
@media only screen and (min-width: 1920px) {
  .contact__h1 {
    font-size: 3em;
  }
  .contact__p {
    font-size: 1em;
  }
  .contact__infos {
    align-items: center;
    justify-content: center;
  }
  .contact__infos .contact__infos__touch {
    margin-top: -5rem;
    width: 20%;
  }
  .contact__infos .contact__infos__touch .contact__infos__touch__grid {
    gap: 0em;
    width: 50%;
  }
  .contact__infos .contact__infos__form {
    width: 50%;
  }
  .contact__infos .contact__infos__form .contact__infos__form__textarea {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact__infos .contact__infos__form .contact__infos__form__textarea .contact__input {
    width: 49%;
  }
  .contact__infos .contact__infos__form .contact__infos__form__textarea .contact__input--big {
    width: 100%;
    height: 20rem;
    padding-top: 1em;
  }
  .contact__infos .contact__infos__form .contact__infos__btn--link {
    font-size: 1.3em !important;
  }
}
.rooms__filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3em;
}
.rooms__filter__button {
  width: 10em;
  margin: 0.5em 1em;
  padding: 1em 0.5em;
  border-radius: 100px;
  border: 1px solid #717171;
  text-align: center;
  color: #fefefe;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
.rooms__filter__button:hover {
  background-color: #717171;
}
.rooms__filter__button--active {
  background-color: #F60B0E;
  color: #fefefe;
  border: 1px solid #F60B0E;
}
.rooms__filter__button--active:hover {
  background-color: #F60B0E;
}
.rooms__filter__button input {
  visibility: hidden;
}
.rooms__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.rooms__grid__item {
  display: flex;
  align-items: flex-end;
  padding: 1rem 1rem;
  margin: 1em 1em;
  height: 35em;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../resources/images/gallery/room-2-557x400.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.rooms__grid__item__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: #fefefe;
  transition: all 0.3s;
}
.rooms__grid__item__body__data {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #fefefe;
  transition: all 0.3s;
}
.rooms__grid__item__body__data__item {
  display: flex;
  align-items: center;
  width: auto;
  margin: 0.5rem 0.5rem;
}
@media only screen and (min-width: 768px) {
  .rooms__filter__button {
    width: 7em;
    margin: 0.5em 0.5em;
    padding: 0.5em 0em;
  }
  .rooms__grid__item {
    height: 15em;
    margin: 1em 0.5em;
    width: 22%;
  }
  .rooms__grid__item__body__data {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1920px) {
  .rooms__grid {
    margin: 0 20em;
  }
  .rooms__grid__item {
    height: 25em;
    margin: 1em 0.5em;
    width: 22%;
  }
  .rooms__grid__item__body__data {
    flex-direction: row;
  }
}

.whiteColor {
  color: #fefefe;
}

.redColor {
  color: #F60B0E;
}

body {
  background-color: #1B1B1B;
  color: #fefefe;
}

.contact__h1 {
  font-size: 1.5em;
  color: white;
  margin-bottom: -0.1em;
  font-family: "Montserrat", sans-serif;
}
.contact__h1--black {
  font-size: 1.5em;
  margin-bottom: -0.1em;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.contact__p {
  font-size: 0.8em;
  color: #717171;
  font-family: "Hind", sans-serif;
}

.contact__infos {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: white;
  padding-bottom: 2rem;
}
.contact__infos .contact__infos__touch {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-left: 0.7rem;
}
.contact__infos .contact__infos__touch .contact__infos__touch__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 50%;
}
.contact__infos .contact__infos__form {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-left: 1em;
}
.contact__infos .contact__infos__form .contact__infos__form__textarea {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.contact__infos .contact__infos__form .contact__infos__form__textarea .contact__input {
  background-color: #222222;
  color: #717171;
  border-bottom: solid #717171;
}
.contact__infos .contact__infos__form .contact__infos__form__textarea .contact__input--big {
  background-color: #222222;
  border-bottom: solid #717171;
}
.contact__infos .contact__infos__form .contact__infos__btn {
  background-color: red;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 2em;
  font-family: "Hind", sans-serif;
}
.contact__infos .contact__infos__form .contact__infos__btn .contact__infos__btn--link {
  text-decoration: none;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .contact__infos {
    flex-direction: row;
  }
  .contact__infos .contact__infos__touch__grid {
    gap: 1em;
  }
  .contact__infos .contact__infos__form {
    width: 110%;
  }
}
@media only screen and (min-width: 1920px) {
  .contact__h1 {
    font-size: 3em;
  }
  .contact__p {
    font-size: 1em;
  }
  .contact__infos {
    align-items: center;
    justify-content: center;
  }
  .contact__infos .contact__infos__touch {
    margin-top: -5rem;
    width: 20%;
  }
  .contact__infos .contact__infos__touch .contact__infos__touch__grid {
    gap: 0em;
    width: 50%;
  }
  .contact__infos .contact__infos__form {
    width: 50%;
  }
  .contact__infos .contact__infos__form .contact__infos__form__textarea {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact__infos .contact__infos__form .contact__infos__form__textarea .contact__input {
    width: 49%;
  }
  .contact__infos .contact__infos__form .contact__infos__form__textarea .contact__input--big {
    width: 100%;
    height: 20rem;
    padding-top: 1em;
  }
  .contact__infos .contact__infos__form .contact__infos__btn--link {
    font-size: 1.3em !important;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.pagination__space, .pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  margin: 0 0.5rem;
}
.pagination__item {
  border: 1px solid #717171;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.pagination__item:hover {
  background-color: #717171;
}
.pagination__item--active {
  background-color: #F60B0E;
  color: #fefefe;
  border: 1px solid #F60B0E;
}
.pagination__item--active:hover {
  background-color: #F60B0E;
}

.header {
  background-image: url("../resources/images/gallery/slide-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}
.header__nav {
  background-color: #F60B0E;
  opacity: 0.5;
  height: 3rem;
}
.header__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12.6rem;
}
.header__body__title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.header__body__title--red {
  color: #F60B0E;
}
.header__body__div {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header__body__div__subtitle {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 0.5rem;
}
.header__body__div__line {
  display: none;
}
.header--main {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../resources/images/gallery/slide-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.header--paralax {
  background-image: url("../resources/images/gallery/slide-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 10em;
}
@media only screen and (min-width: 768px) {
  .header {
    height: 29.1rem;
  }
  .header__body {
    height: 25rem;
  }
  .header__body__title {
    font-size: 3rem;
  }
  .header__body__div__subtitle {
    font-size: 0.8rem;
  }
  .header__body__div__line {
    display: block;
    width: 3.5em;
    height: 1px;
    background-color: white;
    margin-right: 1rem;
  }
}
@media only screen and (min-width: 1920px) {
  .header {
    height: 70rem;
  }
  .header__body {
    height: 60rem;
    padding-left: 10rem;
  }
  .header__body__title {
    width: 10em;
    font-size: 8rem;
  }
  .header__body__title--main {
    text-align: left;
  }
  .header__body__div__subtitle {
    font-size: 1rem;
  }
  .header__body__div__line {
    display: block;
    width: 5em;
    height: 1px;
    background-color: white;
    margin-right: 1rem;
  }
  .header__body--main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.index__who {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 2em;
  gap: 2em;
  padding-left: 3.9em;
  vertical-align: middle;
}
.index__who .fa {
  color: red;
  padding-right: 1.5em;
  width: 1em;
}

.index__infos {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: white;
  padding-bottom: 2rem;
  gap: 2em;
  padding-left: 1em;
  padding-right: 1em;
}
.index__infos .index__infos__form {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-left: 1em;
}
.index__infos .index__infos__form__textarea {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.index__infos .index__infos__form__textarea .index__input {
  background-color: #222222;
  color: #717171;
  border-bottom: solid #717171;
}
.index__infos .index__infos__form__textarea .index__input--big {
  background-color: #222222;
  border-bottom: solid #717171;
}

.index__infos__btn {
  background-color: #222222;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 2em;
  font-family: "Hind", sans-serif;
  border: dotted 1px #717171;
  width: 8em;
}
.index__infos__btn .index__infos__btn--link {
  text-decoration: none;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
}

.index__ready {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-bottom: 2rem;
  gap: 2em;
  padding-left: 1em;
  padding-right: 1em;
}
.index__ready__btn {
  background-color: red;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 2em;
  font-family: "Hind", sans-serif;
  width: 8em;
}
.index__ready__btn--link {
  text-decoration: none;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .index__container__mapTouch {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .index__container__mapTouch .index__infos {
    width: 50%;
  }
  .index__container__mapTouch .index__map {
    width: 50%;
  }
  .index__who {
    height: 25rem;
    gap: 4rem;
  }
}
@media only screen and (min-width: 1920px) {
  .index__who {
    padding-left: 20rem;
    height: 30rem;
    padding-top: 5rem;
  }
}
.description {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
.description__data {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  justify-content: space-around;
}
.description__text__p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}
.description__contact {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}
.description__contact > p:not(input) {
  border-bottom: 1px solid #777;
  padding: 1em 0;
}
@media only screen and (min-width: 768px) {
  .description {
    flex-direction: row;
  }
  .description .subSection {
    flex: 1 1 50%;
  }
  .description__contact {
    flex: 1 1 30%;
    margin-left: 2em;
  }
}
@media only screen and (min-width: 1920px) {
  .description {
    width: 75em;
    margin: 0 auto;
  }
}

.sujet__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
}
.sujet__item__img {
  width: 24em;
}
.sujet__item__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 24em;
  padding: 1rem;
  background-color: #1B1B1B;
}
.sujet__item__text__tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
.sujet__item__text__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  opacity: 0.6;
}
.sujet__item__text__data__item {
  display: flex;
  flex-direction: row;
  padding: 0.2em 0;
  width: 50%;
  font-size: 1.2rem;
  color: #fefefe;
}
.sujet__item__text__title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 1em 0;
}
.sujet__item__text__description {
  font-size: 1rem;
  font-weight: 400;
  margin: 1em 0;
}
.sujet__item__text__link {
  border: 1px solid #fefefe;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1em 0;
  text-decoration: none;
  color: #fefefe;
}
@media only screen and (min-width: 1920px) {
  .sujet__item__img {
    width: 50em;
  }
  .sujet__item__text {
    width: 50em;
    position: relative;
    bottom: 3em;
    left: 2em;
  }
}

.pageBlogs {
  display: flex;
  flex-direction: column;
  background-color: green;
}
@media only screen and (min-width: 768px) {
  .pageBlogs {
    flex-direction: row;
    justify-content: space-evenly;
    background-color: red;
  }
}

/*# sourceMappingURL=style.css.map */
