//font
$headings-font: 'Montserrat';
$paragraphs-font: 'Hind';

//colors
$red: #F60B0E;
$darkestBackground: #1B1B1B;
$darkBackground: #222222;
$whiteBackground: #fefefe;
$globalFontColor: #717171;
$navFontColor: #777;

//sizes

//media queries
$mobile: 412px;
$tablet: 768px;
$desktop: 1920px;