$headings-font: 'Montserrat';
$paragraphs-font: 'Hind';

$red: #F60B0E;
$darkestBackground: #1B1B1B;
$darkBackground: #222222;
$whiteBackground: #fefefe;
$globalFontColor: #717171;
$navFontColor: #777;